/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-color: #353430;
  --bg-color: #FFF1F7;
  --accent-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background: var(--bg-image) center / cover no-repeat fixed;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-list {
  color: var(--main-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--main-color-transparent);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-color);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--main-color);
}

.theme-light .title-decor {
  color: var(--main-color);
}

.theme-light .questions__list-item-header {
  color: var(--main-color);
}
